* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root{
  --player-grid-width: 30px;
  --player-grid-height: 30px;
}

body {
  height: 100vh;
  width: 100vw;
}

dialog[open]{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#content {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.player-cntr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  height: max-content;
  width: max-content;
  display: grid;
  grid: repeat(11, var(--player-grid-height)) / repeat(11, var(--player-grid-width));
}

.cell {
  height: var(--player-grid-height);
  width: var(--player-grid-width);
  background-color: blue;
}

.cell.ship {
  background-color: grey;
}

.cell.ship.hit,
.cell.hit{
  background-color: red;
}

.cell.miss{
  background-color: white;
}